
h1, .intro {
    padding-left: 40px;
}


form {
    margin-top: 40px;
    max-width: 400px;
}

/* each row of the form */
ul {
    display: flex;
    justify-content: space-between;
}

/* Form inputs and labels */
li {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

/* form button */
#submit-form {
    margin-top: 50px;
    margin-left: 40px;
}

/* When div.error contains text it's always red */
.error {
    color: red;
}

/* class is appended when div.error gets textContent */
.errorOutline {
    border-color: red;
}


/* class is appended when div.error textContent is ERASED */ 
.correctOutline, .correctOutline:focus {
    border-color: green;
    outline: green;
}

